{% extends "base.html" %}

{% block content %}
<div class="calendar-container">
	<div class="header">
		<ul class="weekdays bg_pastel_yel_2">
			<li>Sunday</li>
			<li>Monday</li>
			<li>Tuesday</li>
			<li>Wednesday</li>
			<li>Thursday</li>
			<li>Friday</li>
			<li>Saturday</li>
		</ul>


		<ul class="daynumbers bg_pastel_yel_1">
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
		</ul>

		<div class="timeslot-container">
			<ul class="timeslots">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>

		<div class="event-container">
			<div class="slot">
				<div class="event-status"></div>
				<span>Event A</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}